<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <a routerLink="/dashboard">
        <img alt="Workflow" class="mx-auto h-12 w-auto"
             src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">
      </a>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
    </div>
    <form [formGroup]="form" class="mt-8 space-y-6" (submit)="signIn()">
      <input name="remember" type="hidden" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label class="sr-only" for="username-address">Username</label>
          <input autocomplete="username" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" id="username-address" name="username" placeholder="Username"
                 formControlName="username"
                 type="text">
          <small class="text-red-500" *ngIf="controls.username.touched && controls.username.invalid && controls.username.errors.required">Username field is required.</small>
        </div>
        <div>
          <label class="sr-only" for="password">Password</label>
          <input autocomplete="current-password" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" id="password" name="password" placeholder="Password"
                 formControlName="password"
                 type="password">
          <small class="text-red-500" *ngIf="controls.password.touched && controls.password.invalid && controls.password.errors.required">Password field is required.</small>
        </div>
      </div>

      <div>
        <button class="group transition relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                type="submit">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg aria-hidden="true" class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition"
                 fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    fill-rule="evenodd"/>
            </svg>
          </span>
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
