<div>
  <div class=" md:gap-6">
    <div class="mb-4">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">{{id ? 'Edit' : 'Add'}} {{title}}</h3>
      </div>
    </div>
    <div class="mt-5 md:mt-0 ">
      <form action="#" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3" *ngFor="let column of columns" [ngSwitch]="column.type">
              <div *ngSwitchCase="'text'">
                <label class="block text-sm font-medium text-gray-700" for="{{column.name}}">{{column.title}}</label>
                <input autocomplete="{{column.name}}"
                       class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                       id="{{column.name}}" name="{{column.name}}"
                       type="text">
              </div>
              <div *ngSwitchCase="'number'">
                <label class="block text-sm font-medium text-gray-700" for="{{column.name}}">{{column.title}}</label>
                <input autocomplete="{{column.name}}"
                       class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                       id="{{column.name}}" name="{{column.name}}"
                       type="number">
              </div>
              <div *ngSwitchCase="'bool'">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" id="{{column.name}}"
                           name="{{column.name}}"
                           type="checkbox">
                  </div>
                  <div class="ml-3 text-sm">
                    <label class="font-medium text-gray-700" for="{{column.name}}">{{column.title}}</label>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'array'">
                <label class="block text-sm font-medium text-gray-700" for="{{column.name}}">{{column.title}}</label>
                <select autocomplete="country"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        id="country"
                        name="country">
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Mexico</option>
                </select>
              </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              type="submit">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
